*{
    background-color: burlywood;
    margin: 0;
    padding:0;
}

form{
    margin: 10% 40% 1% 40%;
}
form input{
    height: 20px;
    width: 400px;
    padding: 7px;
    margin: 10px 10px 5px 10px;
    border-radius: 10px;
}

button{
    width: 300px;
    padding: 4px;
    margin-left: 43%;
    border-radius: 6px;
    background-color: blueviolet;
    color: white;
}